<%# display errors when creating new article if any present %>
<% if @article.errors.any?%>
    <ul>
        <%# iterate through each error message and display in unordered list%>
        <% @article.errors.full_messages.each do |error| %>
            <li><%= error %></li>
        <% end %>
    </ul>
<% end %>