<div class="carousel-caption">
    <h1>CREATE</h1>
    <h3>Welcome to my creative blog!</h3>
    <p id="headerText">Here you can read about my weekly creative projects, where I explore the intersection between creativity, technology and people. Feel free to contact me for collaborations or any questions regarding the projects. Happy reading!</p>
    <%= button_to 'All articles', articles_path, class: "btn btn-lg", method: :get %> <br>
</div>
